assets/legal/*.html linguist-vendored
cmd/crawl/*.html linguist-vendored
crawler/rubydate/zonetab.go linguist-vendored
cmd/timezones/raw-time-zones.json linguist-vendored
templates/layouts/partial_rails_ujs.gohtml linguist-vendored
templates/layouts/partial_wicg_inert.gohtml linguist-vendored
third_party/* linguist-vendored
util/timezones.go linguist-vendored
