<!DOCTYPE html>
<html>
<head>
  <title>{{.Title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {{template "layouts/partial_icons"}}
  <link rel="stylesheet" media="screen" href="{{static "tailwind.css"}}">
  {{template "layouts/partial_rails_ujs"}}
</head>

<body>
  {{block "content" .}}
  {{end}}
</body>
</html>
