<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>FeedRewind</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {{template "layouts/partial_icons"}}
  <link rel="stylesheet" media="screen" href="{{static "tailwind.css"}}">
  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="{{.Session.CSRFToken}}">
  {{template "layouts/partial_wicg_inert"}}
  {{template "layouts/partial_rails_ujs"}}
</head>

<body class="container mx-auto max-w-[360px]">
{{template "layouts/partial_popups"}}
<main class="mx-4 my-8 modal-inert">
  {{block "content" .}}
  {{end}}
</main>
</body>
</html>
