{{template "layouts/admin" .}}

{{define "content"}}
<h2>Admin: Delete Job</h2>

<pre class="whitespace-pre-wrap">{{.Message}}</pre>
<a href="/admin/dashboard" class="btn inline-block mt-3">Go back</a>
{{end}}